body {
    margin: 0;
    padding: 0;
    background: red;
}

header {
    width: 100vw;
    height: 200px;
    background: green;
    h1 {
        text-align: center;
        margin: 0;
        padding-top: 60px;
    }
}
